<p>register works!</p>
<div class="Registerform">
    <form #userform="ngForm" name="userform" (ngSubmit)="userform.valid && AddUser()" >
      <label></label>
      <input type="text" name="name" class="name" required  [(ngModel)]="name" placeholder="Enter your name"><br>
      <label></label>
      <input type="text" name="mail" class="mail" required  [(ngModel)]="mail" placeholder="Enter your mail"><br>
      <label></label>
      <input type="password" name="pass" class="pass" required  [(ngModel)]="pass" placeholder="Enter your password"><br>
      <label></label>
      <input type="submit" class="but" value="submit"><br>
    </form>
</div>